@use 'variable.scss' as c;


#mc_embed_shell{
    width:100%;

    @media screen and (min-width: 1024px) {
        max-width:1280px;
    }
    #mc_embed_signup{
        display:flex;
        justify-content: center;
        width:100% ;
        height:15rem;
        font-family: c.$ff;
        form{
            flex-direction: column; /* Coloca o campo de e-mail e o botão em coluna */
            align-items: center;
            gap: 10px;
            width:100%;
            margin: 8px 0;
            box-sizing: border-box;
            @media screen and (min-width:1024px) {
                display: flex;
                justify-content: center;
                flex-direction:row;
                max-width:800px;
                width:100%;
                gap: 10px;
                margin-bottom: 20px;
                #mc_embed_signup_scroll{
                    width:100%;
                    display:flex;
                    flex-wrap:nowrap;
                    align-items:center;
                    justify-content: center;
                }
            }
            .mc-field-group{
                width:100%;
                display:flex;
                flex-direction: column;
            }
            .indicates-required{
                display:none;
            }
            label{
                color: c.$txtColor;

            }
            .required, .email, #mce-email{
                border-radius:.8rem;
                border: none;
                background: c.$bgWhite !important;
                box-shadow: c.$shadow-box;
            }
            input{
                width:100%;
                height:2.8rem;
            }
            #mce-responses{
                display:none;
            }
            .hide{
                display:none;
                visibility:hidden;
                position:relative;
                left:0px;
            }
            .foot{
                width:100%;
                display:flex;
            }
            .optionalParent{
                width:100%;
                .button{
                    background:c.$gradientBrown;
                    width:100%;
                    border-radius:8rem;
                    padding:2.4rem 5.6rem;
                    margin:0;
                    vertical-align: middle;
                    line-height: 0;
                    @media screen and (min-width:1024px) {
                        &{
                            border-radius:0;
                        }
                    }
                }
                .refferal_badge{
                    display:none !important;
                }
            }
        }
    }
}
#mc_embed_shell.bg-sec{
    padding:0 2rem ;
}
.form{
    display:flex;
    gap:10px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    @media screen and (min-width: 1024px) {
        gap: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }
}
.newsletter{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 12rem 0;
    max-width:1280px;
}
.form-contato{
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    margin: 12rem 0;
    max-width:1280px;
    .newsletter-content{
        max-width:400px;
        padding:0 3.2rem;
        box-sizing:border-box;
        background:transparent;
        align-items:center;        
        width:100%;
        
        .fi-br-envelope-open{
            font-size:5.6rem;
            margin-right:1.2rem;
            background-image: c.$gradientBrown;
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
        }
        h4{
            background-image: c.$gradientBrown;
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
            font-size:2.4rem;
        }
    }
}
.newsletter-content{
    display:flex;
    flex-wrap:nowrap;
    gap:20px;
    max-width:400px;
    padding:3.2rem 3.2rem;
    box-sizing:border-box;
    background:c.$gradientBrown;
    width:100%;
    .fi-br-envelope-open{
        color: c.$bg;
        font-size:5.6rem;
        margin-right:1.2rem;
    }
    h4{
        font-size:2.4rem;
    }
}
@media screen and (max-width:768px){
    .form-contato{
        flex-wrap:wrap;
        justify-content: flex-start;

    }
    .newsletter-content{
        width:100%;
        max-width:100%;
        gap:0px;
    }
    .newsletter{
        flex-direction:column;
    }
}
label{
    display:block;
    width:100%;
    margin:1rem 0;
    font-size: 1.2rem;
}
input{
    display:block;
    width:100%;
    border-radius:.4rem;
    border: transparent;
    outline: transparent;
    background: c.$gradientWhite;
    padding:.4rem .8rem;
    min-height:4rem;
    box-shadow: c.$shadow-box;
    box-sizing: border-box;
    font-family: c.$ff;
    color:c.$txtColor;
}
input[type="submit"]{
    width:20rem;
    border-radius:8rem;
    margin-top:2rem;
    background: c.$btnGreen;
    transition: c.$transition;
    &:hover{
        font-weight:800;
        transform: scale(1.02);
        background: c.$btnGreenHover;
    }
}
.contact{
    #form{
        flex:8 1 960px;
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        padding:0 3.2rem;
        box-sizing:border-box;
        font-size:1.2rem;
        gap:1.2rem;
        fieldset{
            display:flex;
            flex-wrap:wrap;
            flex:1 1 300px;
            label{
                &:first-child{
                    margin-top:0px;
                }
            }
        }        
        #estados{
            width:100%;
            padding:.4rem .8rem;
            background: c.$gradientWhite;
            border-radius: .4rem;
            min-height:4rem;
            box-shadow: c.$shadow-box;
        }
    }
}

