$ff: 'Roboto Flex', sans-serif;
$ff-txt: 300 1.4rem/2rem $ff;
$ff-title: 800 5.2rem/5.2rem $ff;
$ff-sub: 400 1.6rem/2.4rem $ff;
$f-color: #333333;
$shadow-box: 1px 1px 5px 0 #000;
$bg: #fff;
$bgWhite: #f3f3f3;
$bgGreen: #AEC655;
$bgGreenLight: #DBE7A7;
$bggradientGreen: linear-gradient(90deg, $bgGreen, $bgGreenLight);
$transition: all .5s ease-in-out;